@import "styles/utils";

.header {
  width: 100%;
  position: absolute;
  padding: 32px 0 26px;

  @include media(">desktop") {
    padding: 34px 0;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(">desktop") {
      max-width: 1352px;
      padding: 0 40px;
    }

    @include media(">1439px") {
      padding: 0;
    }
  }
}
