@import "styles/utils";

.testimonialSection {
  padding: 64px 0 86px;

  @include media(">desktop") {
    padding: 160px 0;
  }

  .title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 4px;
    text-align: center;
    color: #A7AAAD;
    margin-bottom: 64px;

    @include media(">desktop") {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 5px;
      margin-bottom: 81px;
    }
  }

  .testimonialContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 64px;

    @include media(">desktop") {
      flex-direction: row;
      grid-gap: 30px;
    }
  }
}
