@import "styles/utils";

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include media(">desktop") {
    grid-template-columns: repeat(4, 1fr);
  }

  img {
    display: flex;
    width: 100%;
  }
}
