@import "styles/utils";

.featureCard {
  padding: 64px 0;
  max-width: 445px;

  .title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.23px;
    color: #24303E;
    margin-bottom: 24px;

    @include media(">desktop") {
      font-size: 40px;
      line-height: 49px;
      letter-spacing: -0.29px;
    }
  }

  .description {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.13px;
    color: #808397;
    margin-bottom: 32px;
  }

  .link {
    position: relative;
    padding: 0 9px 0 8px;

    @include media(">desktop") {
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }

    span {
      position: relative;
      font-family: 'Fraunces';
      font-weight: 900;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #24303E;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      min-width: 137px;
      background: var(--color);
      opacity: 0.25;
      border-radius: 28px;
      content: "";
      transform: translateY(150%);
      transition: opacity 0.3s;
    }
  }
}
