@import "styles/utils";

.nav {
  &.open {
    .menuButton {
      opacity: 0.5;
    }

    .menuBoxWrapper {
      max-height: 9999px;
      transition: all 1s ease-in-out;

      @include media(">desktop") {
        transition: none;
      }
    }
  }

  .menuButton {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;

    @include media(">desktop") {
      display: none;
    }
  }

  .menuBoxWrapper {
    position: absolute;
    top: calc(100% + 24px);
    left: 24px;
    width: calc(100% - 48px);
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);

    @include media(">desktop") {
      position: relative;
      top: initial;
      left: initial;
      width: 100%;
      max-height: initial;
      transition: none;
    }
  }

  .menuBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 32px;
    background: #FFFCF8;
    padding: 39px 0;
    margin-top: 24px;

    @include media(">desktop") {
      flex-direction: row;
      grid-gap: 47px;
      background: transparent;
      padding: 0;
      margin-top: 0;
    }

    &::before {
      position: absolute;
      top: -24px;
      right: 0;
      border-bottom: 24px solid #FFFCF8;
      border-left: 24px solid transparent;
      content: "";

      @include media(">desktop") {
        display: none;
      }
    }

    .siteMenuContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 32px;
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.14px;
      color: #808397;

      @include media(">desktop") {
        flex-direction: row;
        grid-gap: 47px;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.13px;
        color: #FFFFFF;
      }
    }
  }

  .contactButton {
    min-width: 140px;
    min-height: 56px;
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.11px;
    text-transform: uppercase;
    color: #24303E;
    background: #FBD600;
    border: none;
    border-radius: 28px;
    cursor: pointer;

    @include media(">desktop") {
      color: #24303E;
      background: #FFFFFF;
      transition: color 0.3s, background 0.3s;

      &:hover {
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.25);
      }
    }
  }
}
